<div id="<%= dom_id contact %>">
    <strong>Name:</strong>
    <%= contact.name %>
    <br>
    <strong>Email:</strong>
    <%= contact.email %>
    <br>
    <strong>Phone:</strong>
    <%= contact.phone_number.present? ? contact.phone_number : 'N/A' %>
</div>
